@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #1c1917;
  --color-secondary: #57534e;
  --color-tertiary: #a8a29e;
  --color-background: #fffbeb;
  --color-accent: #ffe862;
}

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #111111;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
